body {
  background: lightgray;
}

/* General Page formatting */
body {
  color: #595959;
  font-family: serif;
}

strong {
  font-family: 'Oswald';
  text-transform: uppercase;
}

h1 {
  font-family: 'Oswald';
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
}

a.primary {
  background: #ba6f57;
  color: #fff;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}


/* HEADER */

body > header {
  color: #525252;
  background: white;
}

/* target the class title that is immediate child of header, that is the immediate child of body  */
body > header > .title {
  display: block;
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
}


nav li {
  display: inline-block;
  margin:0;
  padding: 0;
}



/* MAIN */



/* FOOTER */


